spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/gestionstock?createDatabaseIfNotExist=true&userSSL=false&useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
#   url: jdbc:postgresql://localhost:5432/gestionstock
    username: postgres
    password: JESUSglory
    driver-class-name: org.postgresql.Driver


    #pour exécuter les script sql
#  sql:
#    init:
#      mode: always

    ## Tolérer les reférences circulaires
#  main:
#    allow-circular-references : true

    ## Specify DBMS
  jpa:
    database: POSTGRESQL
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        ejb:
          interceptor: com.tchindaClovis.gestiondestock.interceptor.Interceptor
        session_factory:
          statement_inspector: com.tchindaClovis.gestiondestock.interceptor.Interceptor
    open-in-view: false

    ## Hibernate DDL Auto (create, create-drop, update, none, validate)
    hibernate:
      ddl-auto: update
#      dialect: org.hibernate.dialect.PostgreSQLDialect

    ## Port du serveur
server:
  port: 8081

minio:
  url: http://127.0.0.1:9000
  access-key: minioadmin
  secret-key: minioadmin
  bucket: mybucket

jwt:
  secret: mySuperSecretKeyThatIsAtLeast256BitsLongForHS256Algorithm
  expiration: 36000000



# spring.main.allow-circular-references = true
#springdoc:
#  api-docs:
#    enabled: true
#    path: /docs/test-api
#  swagger-ui:
#    enabled: true
#    path: /swagger-ui.html
#    tags-sorter: alpha
#    operations-sorter: alpha
#    display-request-duration: true
#  packages-to-scan: com.tchindaClovis.gestiondestock.controller
#  paths-to-match: /v1/**
##  paths-to-match: /api/**
